.social-likes{data-title=social_share_title(post) data-url=social_share_url(post)}
  .facebook title="Share link on Facebook" Facebook
  .twitter data-via="crowdint" title="Share link on Twitter" Twitter
  .plusone title="Share link on Google+" Google+
