.archive {
  float: right;
  width: 10%;
  margin: 50px 5% 0 0;

  a, h2 {
    text-decoration: none;
    margin: 0;
    color: $darkgray;
    font-family: 'Roboto Regular';
    font-size: 18px;
  }

  .archive-mobile { display: none; }

  @include mq-mobile(){
    .archive-desktop { display: none; }
    .archive-mobile { display: block; }
  }
}
