.categories {
  height: auto;
  margin-left: 5%;
  width: 10%;
  position: absolute;
  top: 75px;
  &.index { top: 22%; }

  @include mq-tablet() {
    position: static;
    margin-top: -90px;
  }

  a { text-decoration: none; }
  .title {
    color: $gray-medium-lighter;
    font-size: 16px;
    font-family: 'Roboto Light';
  }
  .category {
    color: $gray-medium-light;
    font-size: 20px;
    font-family: 'Roboto Regular';

  }
  .g-category {
    @extend .category;
    color: $home-color;
  }
  .categories-desktop {
    display: block;

    @include mq-tablet() {
      display: none !important;
    }
  }
  .categories-mobile {
    background-color: $home-color;
    display: none;
    height: 3em;

    @include mq-tablet() {
      display: block !important;
    }
  }
  .categories-select {
    background-color: $home-color;
    border: none;
    color: $white;
    font-family: 'Roboto Light';
    font-size: 20px;
    margin: 0.5em auto;
    text-decoration:underline;
  }

  @include mq-tablet() {
    background-color: $home-color;
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
