.categories {
  float: left;
  margin: 50px 0 0 5%;
  width: 10%;

  h1, h2, a {
    color: $darkgray;
    font-family: 'Roboto Regular';
    font-size: 18px;
    margin: 0;
    text-decoration: none;
  }

  .categories-title {
    font-family: 'Roboto Light';
    font-size: 16px;
    margin: 60px 0 20px;
  }

  .category { line-height: 30px; }

  @include mq-tablet(){ display: none; }
}
