.error {
  color: $error-color;
  height: 400px;
  padding-top: 210px !important;
  position: relative;
  text-align: left;
  a { color: $error-color; }

  @include mq-tablet() {
    padding-top: 155px !important;
  }

  @include mq(880px) {
    padding-top: 120px !important;
    background: none;
  }

  @include mq(320px) {
    padding-top: 16px !important;
    height: 550px;
  }
}

.error-img {
  position: absolute;

  @include mq(880px) {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -125px;
  }
}

.error-code {
  font-weight: bold;
  font-size: 90px;
  margin: 110px 48px;
  position: absolute;

  @include mq(880px) {
    position: absolute;
    float: none;
    left: 50%;
    margin-left: -77px;
  }

}

.error-title {
  float: left;
  font: lighter 30px/35px 'Roboto Light';
  margin: 94px 0 0 270px;

  @include mq(880px) {
    float: none;
    margin: 400px 0 0;
    text-align: center;
  }

  @include mq(320px) {
  line-height: 40px;
    margin: 285px 0 0;
    font-size: 20px;
    font-weight: bold
  }
}

.error-help {
  float: left;
  font: lighter 20px/35px 'Roboto Light';
  margin: 0 0 0 270px;

  @include mq(880px) {
    margin: 0;
    float: none;
    text-align: center;
  }

  @include mq(320px) {
    line-height: 50px;
    margin: 10px 0 0;
  }
}
