.post-menu {
  margin: 0 auto;
  padding: 25px 5% 0;
  text-align: center;
  @include mq-tablet() {
    max-width: 768px;
    padding: 25px 20px 0;
    width: 95%;
  }
  @include mq-mobile() {
    padding: 25px 5% 0;
    margin: 0 auto;
    width: auto;
  }

  .post-menu-mobile { display: none; }
  .post-menu-desktop {
    display: block;
    @include mq-tablet() {
      padding: 0 50px;
    }
  }

  @include mq-mobile() {
    .post-menu-mobile { display: block; }
    .post-menu-desktop { display: none; }
  }

  a {
    color: $gray-medium-lighter;
    text-decoration: none;
  }

  .category-link {
    position: absolute;
    left: 50%;
    display: block;
    width: 70%;
    max-width: 960px;
    padding: 0 50px;
    text-align: left;
    margin-left: -480px;

    @include mq(1390px) {
      margin-left: -35%;
    }

    @include mq-tablet() {
      position: static;
      padding: 0;
      margin: 0;
      width: auto;
      display: inline-block;
    }
  }

  .previous { float: left; }
  .next { float: right; }
}
