.navbar {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  text-align: right;

  a {
    color: $blog-color;
    text-decoration: none;
  }

  div {
    display: inline-block;

    &:first-child {
      margin-right: 1em;
    }

    @include mq-tablet() {
      &:first-child { margin-right: 5px; }
      &:last-child { margin-right: 5px; }
    }
  }

  .btn-default {
    padding:4px 15px;
    border:2px solid $blog-color;
    background-color: $blog-color;
    color: white;
    border-radius: 3px;
  }
}
