.search {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 32px 50px 0;
  width: 70%;

  &.not-hidden {
    display: block;

    .search-toggle-elements { display: none; }

    @include mq-tablet(){
      .search-toggle-elements {
        display: inline-block;
        width: 10%;
        height: 55px;
        vertical-align: -20px;
        background: image_url('options_btn_up.svg') center no-repeat;
      }

      .search-input { width: 90%; }

      .search-options {
        .search-options-author {
          width: 44%;
          margin: 0 2% 20px 0;
        }

        .search-options-category {
          width: 44%;
          margin: 0 10% 20px 0;
        }

        label { width: 7%; }
      }
    }

    @include mq-mobile(){
      .search-options {
        .search-options-author {
          width: 90%;
          margin: 0 10% 20px 0;
        }

        .search-options-category {
          width: 90%;
          margin: 0 10% 20px 0;
        }

        label { width: 10%; }

        .search-options-date { width: 35%; }
      }
    }
  }

  .search-input {
    background: $whitesmoke-light image_url('search_icon.svg') 97% 15px no-repeat;
    border: none;
    color: $darkgray;
    font: 18px 'Roboto Light';
    padding: 15px;
    width: 100%;
  }

  .search-options {
    padding-top: 20px;

    select {
      width: 28%;
      margin-right: 2%;
      font: 14px 'Roboto Light';
      border: none;
      background: $whitesmoke-light;
      color: $darkgray;
      height: 30px;
    }

    label {
      width: 5%;
      height: 30px;
      color: $darkgray;
      font: 14px 'Roboto Light';
      display: inline-block;
      text-align: center;
    }

    .search-options-date {
      border: none;
      background: $whitesmoke-light;
      box-sizing: border-box;
      width: 15%;
      height: 30px;
      color: $darkgray;
      font: 14px 'Roboto Light';
    }
  }

  @include mq-tablet(){
    display: none;
    max-width: 768px;
    padding: 32px 50px 0;
    width: 95%;
  }

  @include mq-mobile(){
    padding: 32px 20px 0;
    width: 100%;
  }
}
