.search {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 32px 50px 0;
  width: 70%;

  input {
    background: #F6F6F6 image_url('search_icon.svg') 97% 15px no-repeat;
    border: none;
    font-family: 'Roboto Light';
    font-size: 18px;
    color: #AAAAAA;
    width: 100%;
    padding: 15px;
  }

  @include mq-tablet() {
    max-width: 768px;
    width: 95%;
  }

  @include mq-mobile() {
    max-width: 640px;
    padding: 20px;
    width: 100%;
    display: none;
  }
}

.search-mobile {
  display: none;

  @include mq-mobile() {
    width: 10%;
    display: block;
    float: right;
    margin: -25px 5% 0 0;
    text-align: center;
  }
}
