@mixin social-media($x, $y: -40px) {
  background: image_url('social/socialmedia_ico_sprite.svg') $x $y no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  width: 30px;
}

#share {
  background: #007466 image_url('team-bg.png') center -100px no-repeat;
  color: white;
  height: 550px;
  padding-top: 2.5em;
  width: 100%;

  @include mq-mobile() {
    height: 280px;
    background-position-y: -21px;
    position: relative;
  }
}

.share-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1.8em;

  @include mq-tablet('portrait') { margin-bottom: 1.7em; }
  @include mq-mobile() { font-size: 1.625em; line-height: 1.2em; margin-bottom: 1.7em; }
}

.posts {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;

  .pagination {
    margin-top: 2em;
    text-align: center;

    a {
      color: $blog-color;
      text-decoration: none;
    }
  }

  @include mq-tablet() {
    max-width: 768px;
    padding: 0 20px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }

  @include mq-mobile() {
    max-width: 640px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }
}

.home.posts .post:first-child {
  border: none;
  bottom: 478px;
  color: white;
  height: 378px;
  margin-bottom: -478px;
  position: relative;

  a, span {
    color: white;
  }

  .social-likes {
    .social-likes__widget_twitter {
      @include social-media(0px, -80px);
    }

    .social-likes__widget_facebook {
      @include social-media(-40px, -80px);
    }

    .social-likes__widget_plusone {
      @include social-media(-80px, -80px);
    }

    .linkedin {
      @include social-media(-120px, -80px);
    }
  }
}


.categories {
  float: left;
  height: auto;
  margin-left: 5%;
  margin-top: 3%;
  width: 10%;

  a { text-decoration: none; }
  .title {
    color: $gray-medium-lighter;
    font-size: 16px;
    font-family: 'Roboto Light';
  }
  .category {
    color: $gray-medium-light;
    font-size: 20px;
    font-family: 'Roboto Regular';

  }
  .g-category {
    @extend .category;
    color: $home-color;
  }
  .categories-desktop {
    display: block;

    @include mq-mobile() {
      display: none !important;
    }
  }
  .categories-mobile {
    background-color: $home-color;
    display: none;
    height: 3em;

    @include mq-mobile() {
      display: block !important;
    }
  }
  .categories-select {
    background-color: $home-color;
    border: none;
    color: $white;
    font-size: 20px;
    font-family: 'Roboto Light';
    margin: 0.5em auto;
    text-decoration:underline;
  }

  @include mq-mobile() {
    background-color: $home-color;
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
  }

}

.post {
  padding: 50px;
  border-bottom: 5px solid $gainsboro;

  h1 {
    border-bottom: 1px solid $darkgray;
    padding-bottom: 20px;
    a {
      color: $darkslategray;
      font-family: 'Roboto';
      font-size: 1.3383em;
    }
  }

  a {
    color: $blog-color;
    text-decoration: none;
  }

  h3 {
    text-align: left;
    font-size: 1.7em;
    margin: 1em 0;
  }

  h4 {
    font-size: 1.4em;
    font-weight: 100;
  }

  hr {
    border-top: solid 1px $blog-color;
    margin: 3em auto;
    height: 0;
    width: 80%;
  }

  p {
    img {
      width: 100%;
    }
  }

  .author-info {
    color: $blog-color;

    .separator { margin: 0px 15px; }

    img {
      margin: 0px 10px -15px 0;
      border: 2px solid #AAAAAA;
      padding: 3px;
      width: 30px;
      height:30px;
    }
  }

  .social-likes {
    text-align: center;

    .social-likes__widget_twitter {
      @include social-media(0px);
    }

    .social-likes__widget_facebook {
      @include social-media(-40px);
    }

    .social-likes__widget_plusone {
      @include social-media(-80px);
    }

    .linkedin {
      @include social-media(-120px);
    }
  }


  ul {
    list-style-type: circle;
    padding-left: 2em;
  }

  .short {
    h1, h2, h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .more {
    color: $darkgray;
    display: block;
    font-family: 'Roboto';
    font-size: 1.3333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    line-height: 1.5em;
    font-size: 1.1em;
  }
}

.post-footer {
  .author-box {
    min-height: 12em;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    display: inline-block;

    @include mq-mobile() {
      width: 80%;
      margin: 0 auto;
    }
  }

  .details {
    text-align: left;

    @include mq-mobile() {
      text-align: center;
      margin-top: 2.5em;
    }
  }

  .author {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin: 1em auto;
  }

  .more-posts {
    font-size: 1em;
    text-transform: uppercase;
    color: #9b9b9b;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.3em;
    line-height: 1.8em;

    a {
      color: $gray;
    }
  }

  li {
    margin-bottom: 1em;

    span {
      display: block;
      font-size: 0.7em;
      line-height: 0.8em;
    }
  }

  .all-posts {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .social-links {
    margin: 2em auto;
  }
}

.archive {
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }

  h3 {
    text-align: left;
    margin: 1em;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.author-posts {
  p {
    margin: 0 1em 0 0;
  }
}

.author-header {
  margin-top: 2em;
  text-align: center;

  h1 {
    font-weight: 100;
  }
}

.gravatar {
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  //padding: 10px;
  //border: solid 1px $blog-color;
}
