#share {
  background-color: white;
  padding-top: 2.5em;
  width: 100%;

  @include mq-tablet('portrait') { height: auto; }
  @include mq-mobile { height: auto; }
}

.posts {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;

  .pagination {
    margin-top: 2em;
    text-align: center;

    a {
      color: $blog-color;
      text-decoration: none;
    }
  }

  @include mq-tablet() {
    max-width: 768px;
    padding: 0 20px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }

  @include mq-mobile() {
    max-width: 640px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }
}

.post {
  padding: 50px;
  border-bottom: 5px solid #198176;

  h1 {
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 20px;
    a {
      color: #444444;
      font-family: 'Roboto';
      font-size: 1.3383em;
    }
  }

  a {
    color: $blog-color;
    text-decoration: none;
  }

  h3 {
    text-align: left;
    font-size: 1.7em;
    margin: 1em 0;
  }

  h4 {
    font-size: 1.4em;
    font-weight: 100;
  }

  hr {
    border-top: solid 1px $blog-color;
    margin: 3em auto;
    height: 0;
    width: 80%;
  }

  p {
    img {
      width: 100%;
    }
  }

  .author-info {
    color: $blog-color;

    .separator { margin: 0px 15px; }

    img {
      margin: 0px 10px -15px 0;
      border: 2px solid #AAAAAA;
      padding: 3px;
      width: 30px;
      height:30px;
    }
  }

  .social-likes {
    text-align: center;

    .social-likes__widget_twitter {
      background: image_url('social/socialmedia-sprite.png') -8px -40px no-repeat;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      margin: 0 10px;
      width: 25px;
      &:hover {
        background: image_url('social/socialmedia-sprite.png') -8px -5px no-repeat;
      }
    }

    .social-likes__widget_facebook {
      background: image_url('social/socialmedia-sprite.png') -42px -40px no-repeat;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      margin: 0 10px;
      width: 25px;
      &:hover {
        background: image_url('social/socialmedia-sprite.png') -42px -5px no-repeat;
      }
    }

    .social-likes__widget_plusone {
      background: image_url('social/socialmedia-sprite.png') -75px -40px no-repeat;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      margin: 0 10px;
      width: 25px;
      &:hover {
        background: image_url('social/socialmedia-sprite.png') -75px -5px no-repeat;
      }
    }

    .linkedin {
      background: image_url('social/socialmedia-sprite.png') -108px -40px no-repeat;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      margin: 0 10px;
      width: 25px;
      &:hover {
        background: image_url('social/socialmedia-sprite.png') -108px -5px no-repeat;
      }
    }
  }


  ul {
    list-style-type: circle;
    padding-left: 2em;
  }

  .short {
    h1, h2, h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .more {
    color: #AAAAAA;
    display: block;
    font-family: 'Roboto';
    font-size: 1.3333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    line-height: 1.5em;
    font-size: 1.1em;
  }
}

.post-footer {
  .author-box {
    min-height: 12em;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    display: inline-block;

    @include mq-mobile() {
      width: 80%;
      margin: 0 auto;
    }
  }

  .details {
    text-align: left;

    @include mq-mobile() {
      text-align: center;
      margin-top: 2.5em;
    }
  }

  .author {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin: 1em auto;
  }

  .more-posts {
    font-size: 1em;
    text-transform: uppercase;
    color: #9b9b9b;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.3em;
    line-height: 1.8em;

    a {
      color: $gray;
    }
  }

  li {
    margin-bottom: 1em;

    span {
      display: block;
      font-size: 0.7em;
      line-height: 0.8em;
    }
  }

  .all-posts {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .social-links {
    margin: 2em auto;
  }
}

.archive {
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }

  h3 {
    text-align: left;
    margin: 1em;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.author-posts {
  p {
    margin: 0 1em 0 0;
  }
}

.author-header {
  margin-top: 2em;
  text-align: center;

  h1 {
    font-weight: 100;
  }
}

.gravatar {
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  //padding: 10px;
  //border: solid 1px $blog-color;
}
