@mixin social-media($x, $y: -40px) {
  background: image_url('social/socialmedia_ico_sprite.svg') $x $y no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  width: 30px;
}

#share {
  background: #007466 image_url('team-bg.png') center -100px no-repeat;
  color: white;
  padding: 2.5em 0;
  width: 100%;

  @include mq-mobile() {
    background-position-y: -21px;
    position: relative;
  }

  .post {
    border: none;
    color: white;
    margin: 0 auto;
    max-width: 860px;
    position: relative;
    padding: 0 50px;
    text-align: left;

    @include mq-tablet() { max-width: 668px; }

    a, span {
      color: white;
    }

    .social-likes {
      .social-likes__widget_twitter {
        @include social-media(0px, -80px);
      }

      .social-likes__widget_facebook {
        @include social-media(-40px, -80px);
      }

      .social-likes__widget_plusone {
        @include social-media(-80px, -80px);
      }

      .linkedin {
        @include social-media(-120px, -80px);
      }
    }
  }
}

.share-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1.8em;

  @include mq-mobile() { font-size: 1.625em; line-height: 1.2em; margin-bottom: 1.7em; }
}

.posts {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;

  .pagination {
    color: $blog-color;
    margin: -2em 0 4em;
    text-align: center;

    .previous_page {
      margin-right: 20%;
    }

    .next_page {
      margin-left: 20%;
    }

    .previous_page, .next_page {
      border-radius: 5px;
      border: 2px solid $gainsboro;
      display: inline-block;
      padding: 9px 0;
      width: 100px;
    }

    a {
      color: $blog-color;
      margin: 0 1%;
      text-decoration: none;
    }

    .current {
      font-weight: bold;
      margin: 0 1%;
    }
  }

  @include mq-tablet() {
    max-width: 768px;
    padding: 0 20px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }

  @include mq-mobile() {
    max-width: 640px;

    pre {
      code {
        font-size: 1em;
      }
    }
  }
}

.categories {
  float: left;
  height: auto;
  margin-left: 5%;
  margin-top: 3%;
  width: 10%;

  a { text-decoration: none; }
  .title {
    color: $gray-medium-lighter;
    font-size: 16px;
    font-family: 'Roboto Light';
  }
  .category {
    color: $gray-medium-light;
    font-size: 20px;
    font-family: 'Roboto Regular';

  }
  .g-category {
    @extend .category;
    color: $home-color;
  }
  .categories-desktop {
    display: block;

    @include mq-tablet() {
      display: none !important;
    }
  }
  .categories-mobile {
    display: none;
    height: 3em;

    @include mq-tablet() {
      background-color: $home-color;
      display: block;
    }
  }
  .categories-select {
    background-color: transparent;
    border: none;
    color: $white;
    font-family: 'Roboto Light';
    font-size: 20px;
    margin: 0.5em auto;
    text-decoration:underline;
  }

  @include mq-tablet() {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

.post {
  border-bottom: 5px solid $gainsboro;
  margin-bottom: 50px;
  padding: 50px;

  h1 {
    border-bottom: 1px solid $darkgray;
    padding-bottom: 20px;
    a {
      @include roboto(1.3383em, bold);
      color: $darkslategray;
      line-height: 1.5em;
    }
  }

  a {
    color: $blog-color;
    text-decoration: none;
  }

  h3 {
    font-size: 1.7em;
    margin: 1em 0;
    text-align: left;
  }

  h4 {
    font-size: 1.4em;
    font-weight: 100;
  }

  hr {
    border-top: solid 1px $blog-color;
    height: 0;
    margin: 3em auto;
    width: 80%;
  }

  p {
    img {
      width: 100%;
    }
  }

  .author-info {
    color: $blog-color;

    .separator { margin: 0px 15px; }

    img {
      border: 2px solid #EEEEEE;
      height:30px;
      margin: 0px 10px -15px 0;
      padding: 3px;
      width: 30px;
    }
  }

  .social-likes {
    text-align: center;

    .social-likes__widget_twitter {
      @include social-media(0px);
    }

    .social-likes__widget_facebook {
      @include social-media(-40px);
    }

    .social-likes__widget_plusone {
      @include social-media(-80px);
    }

    .linkedin {
      @include social-media(-120px);
    }
  }


  ul {
    list-style-type: circle;
    padding-left: 2em;
  }

  .short {
    h1, h2, h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .more {
    @include roboto(1.3333em, bold);
    color: $darkgray;
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }

  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.post-footer {
  padding: 0 50px 50px;

  .author-box {
    color: $blog-color;
    text-align: left;

    .gravatar {
      border: 2px solid #EEEEEE;
      height:30px;
      margin: 0px 10px -15px 0;
      padding: 3px;
      width: 30px;
    }
  }

  ul {
    text-align: left;
    margin-top: 50px;

    li {
      @include roboto(1.3em, bold);
      text-indent: -5px;
      a {
        color: $darkslategray;
        text-decoration: none;
      }
    }

    li:before {
      content: '-';
      left: -5px;
      position: relative;
    }
  }
}

.archive {
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 1em;
    text-align: left;
  }
}

.author-posts {
  p {
    margin: 0 1em 0 0;
  }
}

.author-header {
  margin-top: 2em;
  text-align: center;

  h1 {
    font-weight: 100;
  }
}

.gravatar {
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
