.social-icon {
  display: inline-block;
  padding: 3px;

  border: 2px solid transparent;
  border-radius: 20px;

  &:not(:first-of-type) { margin-left: 1em; }
  &:hover {
    border-color: white;
    transition: all 0.5s ease;
    > .social-icon-link { opacity: 1; }
  }
}

.social-icon-link {
  display: block;
  height: 31px;
  opacity: 0.5;
  width: 31px;
}

.social-icon-twitter { background: image_url('twitter_ico.svg') top left no-repeat; }
.social-icon-facebook { background: image_url('facebook_ico.svg') top left no-repeat; }
.social-icon-gplus { background: image_url('gplus_ico.svg') top left no-repeat; }
.social-icon-github { background: image_url('github_ico.svg') top left no-repeat; }
.social-icon-linkedin { background: image_url('linkedin_ico.svg') top left no-repeat; }
