.bottom-tip {
  background: url(/assets/tip.png) no-repeat center;
  width: 20px;
  height: 25px;
  position: absolute;
  right: 20px;
}

.navbar {
  border-width: 0px;
  margin-bottom: 0px;
  height: 84px;
}

header {
  background-color: #008074;
}

#sharing-knowledge {
  ul {
    background-color: #EAEAEA;

    li {
      padding: 0 26px;
      &:first-child a { border: none }

      a {
        padding: 10px 46px 10px;
        border-top: 1px solid #008074;
        color: #333;
        &:hover { background-color: #EAEAEA }
      }
    } //li
  } //ul

  &:after {
    @extend .bottom-tip;
  }
}


//share knowledge links with icons
.about-us {
  background: image-url('about_ico.png') no-repeat 10px center;
}

.earlier-posts {
  background: image-url('earlier_posts.png') no-repeat 10px center;
}

.search {
  background: image-url('search_ico.png') no-repeat 10px center;
}
