.bottom-tip {
  background: image-url('2013/tip.png') no-repeat center;
  width: 20px;
  height: 25px;
  position: absolute;
  right: 20px;
}

.navbar {
  border-width: 0px;
  margin-bottom: 0px;
}

.navbar-header {
  background: image-url('2013/bg_header.png') no-repeat left;
}

.navbar-default {
  background-color: #008074;
  .navbar-collapse { border-color: #EAEAEA }
}

// sharing knowledge header elements
#sk-image {
  position: absolute;
  right: 0;
  &:before { @extend .bottom-tip }
}

#sk-button {
  background: image-url('2013/menu_btn_down.png') no-repeat center;
  border-radius: 0px;
  border: none;
  height: 84px;
  margin: 0;
  width: 69px;

  &.collapsed {
    background-image: image-url('2013/menu_btn_up.png');
  }

  &:hover {
    background: image-url('2013/menu_btn_down.png');
    cursor: pointer;
  }
}

#sk-menu {
  ul {
    background-color: #EAEAEA;
    margin: 0px;

    li {
      padding: 0 26px;
      &:first-child a { border: none }

      a {
        border-top: 1px solid #008074;
        color: #333;
        padding: 10px 46px 10px;
        &:hover { background-color: #EAEAEA }
      }
    } //li
  } //ul
  &:after { @extend .bottom-tip }
}

//share knowledge menu links with icons
.about-us {
  background: image-url('2013/about_ico.png') no-repeat 10px center;
}

.earlier-posts {
  background: image-url('2013/earlier_posts.png') no-repeat 10px center;
}

.search {
  background: image-url('2013/search_ico.png') no-repeat 10px center;
}
