.bottom-tip {
  content: image-url('2013/tip.png');
  width: 20px;
  height: 25px;
  position: absolute;
  bottom: -25px;
}

.navbar {
  border-width: 0px;
  margin-bottom: 0px;
}

.navbar-header {
  background: image-url('2013/bg_header.png') no-repeat left;
}

.navbar-default {
  background-color: #008074;
  .navbar-collapse { border-color: #EAEAEA }
}

// sharing knowledge header elements
#sk-image {
  position: absolute;
  right: 0;
  &:after {
    @extend .bottom-tip;
    right: 50%;
  }
}


#sk-menu {
  ul {
    background-color: #EAEAEA;
    margin: 0px;

    li {
      padding: 0 26px;
      &:first-child a { border: none }

      a {
        border-top: 1px solid #008074;
        color: #333;
        padding: 10px 46px 10px;
        &:hover { background-color: #EAEAEA }
      }
    } //li
    &:after {
      @extend .bottom-tip;
      right: 20px;
    }
  } //ul
}
.navbar-default .navbar-toggle{
  margin-top: 19px;
  &:hover {
    background-color: #C4D5D2;
    .icon-bar {
      background-color: #008074;
    }
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
  width: 38px;
  height: 8px;
}
//share knowledge menu links with icons
.about-us {
  background: image-url('2013/about_ico.png') no-repeat 10px center;
}

.earlier-posts {
  background: image-url('2013/earlier_posts.png') no-repeat 10px center;
}

.search {
  background: image-url('2013/search_ico.png') no-repeat 10px center;
}
