@import 'twitter/bootstrap/variables';
@import 'twitter/bootstrap/mixins';

.posts {
  padding: 20px;
  background-color: white;
  .border-radius(10px);

  .post {
    margin-bottom: 50px;
    .header {
      h1 {
        font-size: 24px;
        line-height: 24px;

        a, a:visited {
          color: #343434;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
      .author {
        font-weight: bold;
      }

      .date {
        font-weight: bold;
        color: #c30;
        margin-bottom: 5px;
      }
    }

    .links {
      padding-top: 10px;
      text-align:center;

      a, a:visited {
        font-size: 18px;
        color: #175057;
      }
    }

    .body {
      background-color: #ebebeb;
      padding: 20px;

      h2, h3 {
        color: #c30;
        font-family: 'Arvo';
        font-weight: normal;
      }

      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 16px;
      }

      a, a:visited {
        color: #175057;
        font-weight: bold;
        text-decoration: underline;
      }

      em {
        color: #175057;
        font-weight: bold;
      }
    }

    .title {
      .clearfix();
    }

    .social {
      padding-top: 20px;
    }
  }
}
