a.twitter-share-button href="http://twitter.com/share" data-text=@post.title data-count="none" data-via="crowdint" data-related="#{@post.author_email}:with" Tweet
script type="text/javascript" src="http://platform.twitter.com/widgets.js"
