$blue: #006BC2;
$gray: #505051;
$gray-95: #F2F2F2;
$gray-dark: #DDD;
$gray-darker: #4A433F;
$gray-light: #EAEAEA;
$gray-lighter: #F7F7F7;
$gray-medium-light: #AAAAAA;
$gray-medium-lighter: #BBBBBB;
$green: #007466;
$light-blue: #1596e5;
$orange: #ea7b1f;
$red: #d74927;
$red-light: #D34124;
$white: #FFF;

$about-color: $orange;
$careers-color: $red;
$contact-color: $green;
$home-color: $green;
$blog-color: $green;
$team-color: $blue;
$we-do-color: $red-light;
$ui-designer-color: $red;
$scrum-master-color: $red;
$senior-go-engineer-color: $red;
$practicas-profesionales-color: $red;
$programador-apasionado-color: $red;
$senior-dev-color: $red;


