$blue: #006BC2;
$darkgray: #AAA;
$darkslategray: #444;
$gainsboro: #c6e2df;
$gray-95: #F2F2F2;
$gray-dark: #DDD;
$gray-darker: #4A433F;
$gray-light: #EAEAEA;
$gray-lighter: #F7F7F7;
$gray-medium-light: #AAAAAA;
$gray-medium-lighter: #BBBBBB;
$gray: #505051;
$green: #007466;
$light-blue: #1596e5;
$orange: #ea7b1f;
$red-light: #D34124;
$red: #d74927;
$white: #FFF;

$about-color: $orange;
$careers-color: $red;
$contact-color: $green;
$home-color: $green;
$blog-color: $green;
$team-color: $blue;
$we-do-color: $red-light;
$error-color: $green;

