@import 'twitter/bootstrap/mixins';

.posts {
  padding: 20px;
  background-color: white;
  .border-radius(10px);

  .post {
    margin-bottom: 50px;
    .date {
      font-weight: bold;
      color: #c30;
      margin-bottom: 5px;
    }
    .title {
      h1 {
        font-size: 28px;
      }
    }

    .body {
      background-color: #cdcdcd;
      padding: 10px;
    }
  }
}
