<section id="share">
  <h3 class="is-not-mobile">We share<br><span class="l-normal">what we know</span></h3>
    <h3 class="is-mobile">We share<span class="l-normal"> what we know</span></h3>
</section>
